        body {
            color: #71DDC5;
        }

        .collapsible-header,
        .collapsible-body,
        .collapsible,
        ul.collapsible>li {
            border: 0!important;
            box-shadow: none!important;
        }

        #clockdiv {
            font-family: sans-serif;
            color: #71DDC5;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 50px;
        }

        #clockdiv>div {
            padding: 10px;
            border-radius: 3px;
            display: inline-block;
        }

        #clockdiv div>span {
            padding: 15px;
            border-radius: 3px;
            background: #263238;
            display: inline-block;
        }

        .smalltext {
            padding-top: 5px;
            font-size: 16px;
        }

        .tabs .indicator {
            background-color: #71DDC5 !important;
        }

        .tab a {
            color: #71DDC5!important;
            background-color: #455a64!important;
        }

        /* Style all font awesome icons */

        .fa {
            padding: 10px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
        }

        /* Add a hover effect if you want */

        .fa:hover {
            opacity: 0.7;
        }

        /* Set a specific color for each brand */

        /* Facebook */

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        /* Twitter */

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }
        
        .fa-instagram {
            background: #125688;
            color: white;
        }
        