.page-headings {
  color: black;
  background-color: #80808020
}

@media screen and (max-width: 992px) {
  .page-headings {
    color: white;
  }
}

.prize h3 {
  font-weight: normal !important;
}

/* .container .card:not(.prize){
  padding-left: 40px !important;
  padding-right: 40px !important;
} */

.questions {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.questions h5,
h4,
h3,
h1 {
  font-weight: bold;
}

.collapsible-header {
  font-weight: bold !important;
}

path {
  fill: white !important;
  transition: 0.5s ease;
}

.fb:hover #fb {
  fill: #3b5998 !important;
}

.twit:hover #twit {
  fill: #00acee !important;
}

.insta:hover #insta {
  fill: #dd2a7b !important;
}

#CiscoLogo {
  border-left: solid white 3px;
}

#HGSLogo {
  padding-top: 10%;
  padding-bottom: 10%;
}

#registrations-closed {
  background-color: lightgrey !important;
  color: darkgrey !important;
}

#typewriter {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border-color: #ffffff;
  font-weight: bold;
}

html,
body {
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}
body {
  color: white;
}

.collapsible-header,
.collapsible-body,
.collapsible,
ul.collapsible > li {
  border: 0 !important;
  box-shadow: none !important;
}

#clockdiv {
  font-family: sans-serif;
  color: #03a7e9;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 50px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #263238;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.tabs .indicator {
  background-color: white !important;
}

.tab a {
  color: white !important;
  background-color: #263238 !important;
}

/* Style all font awesome icons */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.var-highlight {
  color: #c0ad60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}
.comment-highlight {
  color: lightgrey;
}
#typewriter {
  /* font-size: 2vw; */
  margin: 0;
  font-family: "Courier New";
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 10%;
  min-height: 10%;
  width: 100%;
  height: auto;
  background-size: cover;
  /* width: 100%; */
  /* background-color:darkblue; */
  background-image: url("../images/garbage.png");
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  /*filter: brightness(70%);*/
}

.stopfade {
  opacity: 0.5;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin: 2rem;
  float: right;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 0.3rem;
}

#polina button {
  display: block;
  width: 80%;
  padding: 0.4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s background;
}

#polina button:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-device-width: 800px) {
  html {
  }
  #bgvid {
    display: none;
  }
}

.loading {
  font-family: sans-serif;
  font-size: 20vw;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: FadeIn 300ms linear forwards;
  opacity: 0;
}

.output {
  color: #26ff00;
  font-family: sans-serif;
  font-size: 16px;
  opacity: 0.5;
  z-index: -1;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: Futura;
  src: url(../fonts/futura/futur.tff);
}

.futura {
  font-family: Futura;
}
.hidden {
  display: none;
}
.theme-card-list {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.theme-card {
  height: 410px;
  width: 485px;
  min-width: 330px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #424242;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}
.theme-card:focus-within ~ .card,
.theme-card:hover ~ .theme-card {
  transform: translateX(130px);
}
.theme-card:hover {
  transform: translateY(-1rem);
}
.theme-card:not(:first-child) {
  margin-left: -130px;
}

.theme-card-title {
  display: flex;
  align-items: center;
  font-size: 22.5px;
  margin-bottom: 15px;
}
.theme-card-content {
  font-size: 15px;
  margin-bottom: auto;
}
.theme-card-examples {
  font-size: 15px;
}

.md-48 {
  font-size: 40px !important;
}

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}

/* extra stuff, sorry for making random section */

.photo-archive-image {
  transition: 0.3s;
  padding: inherit;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 3%;
  z-index: 0;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  background-position: center 50%;
  border-radius: 15px !important;
  background-size: cover;
}
.photo-archive-image-container {
  position: relative;
  padding: 0;
  overflow: hidden;
  border-radius: 15px !important;
  height: 120px;
}
.photo-archive-image-container:hover .photo-archive-image {
  opacity: 1;
}
.photo-archive-image-container:hover center h1 a {
  color: white;
}
.photo-archive-image-container:hover center h1 a {
  text-decoration: underline;
  transform: scale(1.1);
}
.photo-archive-image-container center {
  z-index: 3;
  position: relative;
  /* padding-top:20px; */
  height: 100%;
}
.photo-archive-image-container center h1 a {
  transition: 0.4s;
}
.photo-archive-image-container center h1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photos-2018 {
  /* clip:rect(0px,100px,100px,0px) */
  /* position:absolute;
  top:0px;
  left:0px;
  padding:inherit;
  z-index: 0;
  height:100%;
  opacity: 0;
  width:100%;
  box-sizing: content-box;
  background-position: center 600px;
  background-size:650px; */
  background-image: url("../images/codefest1.jpg");
}
#photos-2019 {
  /* clip:rect(0px,100px,100px,0px) */
  /*padding:inherit;
  position:absolute;
  opacity: 0;
  top:0px;
  left:3%;
  z-index: 0;
  height:100%;
  width:100%;
  box-sizing: content-box;
  background-position: center 50%;
  border-radius:15px !important;
  background-size:cover;*/
  background-image: url("../images/codefest2logo.png");
}
#photos-2020 {
  background-image: url("../images/codefest_logo_dragon.png");
}

#photos-2019-container {
  /* position: relative;
  padding:0;
  overflow: hidden; */
}
#photos-2018-container {
  /* overflow: hidden; */
}

/* Old definitions IGNORE */
#photos-2018-container:hover a {
  color: white;
}
#photos-2018-container:hover #photos-2018 {
  /* opacity: 1; */
}
#photos-2019-container:hover #photos-2019 {
  /* opacity: 1 */
}
#photos-2019,
#photos-2018 {
  /* transition: 0.3s */
}
#photos-2019-container:hover center h1 a {
  /* color:white; */
}
#photos-2019-container:hover center h1 a:hover,
#photos-2018-container:hover center h1 a:hover {
  /* text-decoration: underline;
  transform:scale(1.1) */
}
#photos-2018-container {
  /* position: relative;
  padding:0; */
}
#photos-2018-container center,
#photos-2019-container center {
  /* z-index: 3;
  position: relative;
  height: 100% */
}
#photos-2018-container center h1 a,
#photos-2019-container center h1 a {
  /* vertical-align: center; */
  /* transition: 0.4s */
}
#photos-2018-container center h1,
#photos-2019-container center h1 {
  /* height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; */
}
#photos-2018-container,
#photos-2019-container {
  /* border-radius: 15px !important;
  height:120px; */
}
/* Don't ignore this tho */
.blurred {
  filter: blur(5px);
  transform: scale(1.3);
}

figure {
  display: inline-block;
}
figcaption {
  text-align: center;
  font-weight: bold;
  color: black;
}
